<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.scurrae.chris.lyricssmash">

    <application
        android:allowBackup="true"
        android:icon="@drawable/fist"
        android:label="LyricsSmash"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity android:name=".Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="Splash"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Int">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.scurrae.chris.lyricssmash.Int"/>
        </activity>
        <activity android:name=".Local"/>
        <activity android:name=".PageBahati" />
        <activity android:name=".PageBunny" />
        <activity android:name=".PageEsty" />
        <activity android:name=".PageBey" />
        <activity android:name=".PageJay"/>
        <activity android:name=".PageKirk" />
        <activity android:name=".Dawa" />
        <activity android:name=".Daktari" />
        <activity android:name=".Damu" />
        <activity android:name=".Macho" />
        <activity android:name=".Mama" />
        <activity android:name=".Smile" />
        <activity android:name=".Hosanna" />
        <activity android:name=".Today" />
        <activity android:name=".Dead" />
        <activity android:name=".Empire" />
        <activity android:name=".Song" />
        <activity android:name=".Run" />
        <activity android:name=".Single" />
        <activity android:name=".Left" />
        <activity android:name=".Lover"></activity>
    </application>

</manifest>
